<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>vod</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <jsp-config>
    <taglib>
      <taglib-uri>/WEB-INF/tld/c.tld</taglib-uri>
      <taglib-location>/WEB-INF/tld/c.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>/WEB-INF/tld/x.tld</taglib-uri>
      <taglib-location>/WEB-INF/tld/x.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>/WEB-INF/tld/sql.tld</taglib-uri>
      <taglib-location>/WEB-INF/tld/sql.tld</taglib-location>
    </taglib>
  </jsp-config>
  <servlet>
		<servlet-name>ListCinema</servlet-name>
	</servlet>
	<servlet-mapping>
		<servlet-name>ListCinema</servlet-name>
		<url-pattern>/cinema</url-pattern>
	</servlet-mapping>
	
  <servlet>
    <servlet-name>cinemaview</servlet-name>
    <jsp-file>/pages/cinema.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>cinemaview</servlet-name>
    <url-pattern>/cinemaview</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>film</servlet-name>
    <jsp-file>/pages/film.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>film</servlet-name>
    <url-pattern>/film</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>adminVideo</servlet-name>
    <jsp-file>/admin/adminVideo.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminVideo</servlet-name>
    <url-pattern>/adminVideo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>adminNewVideo</servlet-name>
    <jsp-file>/admin/adminNewVideo.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminNewVideo</servlet-name>
    <url-pattern>/adminNewVideo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>adminParticipant</servlet-name>
    <jsp-file>/admin/adminParticipant.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminParticipant</servlet-name>
    <url-pattern>/adminParticipant</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>adminParticipantConsulter</servlet-name>
    <jsp-file>/admin/adminParticipantConsulter.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminParticipantConsulter</servlet-name>
    <url-pattern>/adminParticipantConsulter</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>adminParticipantModifier</servlet-name>
    <jsp-file>/admin/adminParticipantModifier.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminParticipantModifier</servlet-name>
    <url-pattern>/adminParticipantModifier</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>adminNewParticipant</servlet-name>
    <jsp-file>/admin/adminNewParticipant.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminNewParticipant</servlet-name>
    <url-pattern>/adminNewParticipant</url-pattern>
  </servlet-mapping>
</web-app>